<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.7.300.74" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.303.19" />
  <package id="AWSSDK.Core" version="3.7.402.1" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.405.22" manuallyInstalled="true" />
  <package id="AWSSDK.Lambda" version="3.7.411.38" manuallyInstalled="true" />
  <package id="AWSSDK.SecurityToken" version="3.7.300.75" />
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.5.5" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
</packages>